.home{
    background-image: url(../../images/Image/Rectangle11.png);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
}